{% extends '@layout/default.html.twig' %}

{% block title %}View Meals{% endblock %}

{% block content %}

    <div class="container">

        <div class="row">

            <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 no-padding forms">
                <h1>View Meals</h1>
                <h1>
                    <button type="button" class="btn btn-outline-info" onclick="window.location.href='{{  path('meals', {'action' : 'view', 'date' : previousDay}) }}'">
                        <i class="fa fa-chevron-left fa-lg"></i>&nbsp;Previous Day
                    </button>
                    {{ currentDay }}
                    <button type="button" class="btn btn-outline-info" onclick="window.location.href='{{  path('meals', {'action' : 'view', 'date' : nextDay}) }}'">
                        Next Day &nbsp; <i class="fa fa-chevron-right fa-lg"></i>
                    </button>

                </h1>

                <h3>Breakfast</h3>
                {% include '@partial/breakfast.html.twig' with {'meals': meals} %}
                <h3>Lunch</h3>
                {% include '@partial/lunch.html.twig' with {'meals': meals} %}
                <h3>Dinner</h3>
                {% include '@partial/dinner.html.twig' with {'meals': meals} %}
                <h3>Snacks</h3>
                {% include '@partial/snacks.html.twig' with {'meals': meals} %}
                <hr>
            </div>
        </div>
    </div>

{% endblock %}
