{% extends '@layout/default.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="page-intro home-intro">

    </div>
    <div class="page-intro">
        <div class="container">
            <strong class="welcome">Welcome to</strong>
            <h1>C&M Tracker</h1>
            <strong>a web application for calories and macronutrients management.</strong>
        </div>
    </div>


    <div class="arrow_down">
        <div class="arrow_down_content">&nbsp;</div>
    </div>
    <div class="home-list">
        <div class="container">
            <h2>Features</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3>
                                <a href="https://github.com/php-fig/container" target="_blank">
                                    containers
                                </a>
                            </h3>
                            <p>
                                DotKernel is built around the PSR-11 dependency container.
                                We have chosen <b>Zend Service Manager</b> as our default implementation.
                            </p>
                            <p>
                                Get Started with <a href="https://github.com/zendframework/zend-servicemanager"
                                                    target="_blank">Zend Service Manager</a>
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <h3>
                                <a href="https://github.com/twigphp/Twig" target="_blank">
                                    templating
                                </a>
                            </h3>
                            <p>
                                By default, no middleware in Expressive is templated.
                                For DotKernel's Frontend application, we have chosen <b>Twig</b>
                                as the default templating engine.
                            </p>
                            <p>
                                Get started with <a href="http://twig.sensiolabs.org/documentation"
                                                    target="_blank">Twig</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3>
                                <a href="https://github.com/nikic/FastRoute" target="_blank">
                                    routers
                                </a>
                            </h3>
                            <p>
                                Among the various routing implementations compatible with Expressive, we have chosen <b>FastRoute</b>
                                as DotKernel's default routing library.
                            </p>
                            <p>
                                Get started with <a href="https://github.com/nikic/FastRoute"
                                                    target="_blank">FastRoute</a>
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <h3>
                                <a href="https://github.com/zendframework/zend-diactoros" target="_blank">
                                    http messages
                                </a>
                            </h3>
                            <p>
                                Expressive, and consequently DotKernel is built around the PSR-7 standard. It uses <b>Zend
                                    Diactoros</b> as the PSR-7 implementation.
                            </p>
                            <p>
                                Get started with <a href="https://github.com/php-fig/http-message"
                                                    target="_blank">PSR-7</a> and <a
                                        href="https://github.com/zendframework/zend-diactoros"
                                        target="_blank">Diactoros</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
